In [1]:
import pandas as pd
data=pd.read_csv("C:\\Users\\krish\\OneDrive\\Desktop\\python\\Students_Grading_Dataset.csv")
print(data.head(7))

  Student_ID First_Name Last_Name                    Email  Gender  Age  \
0      S1000       Omar  Williams  student0@university.com  Female   22
1      S1001      Maria     Brown  student1@university.com    Male   18
2      S1002      Ahmed     Jones  student2@university.com    Male   24
3      S1003       Omar  Williams  student3@university.com  Female   24
4      S1004       John     Smith  student4@university.com  Female   23
5      S1005       Liam     Brown  student5@university.com    Male   21
6      S1006      Ahmed     Jones  student6@university.com    Male   24

    Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
0  Engineering           52.29          55.03        57.82  ...
1  Engineering           97.27          97.23        45.80  ...
2     Business           57.19          67.05        93.68  ...
3  Mathematics           95.15          47.79        80.63  ...
4           CS           54.18          46.59        78.89  ...
5  Engineering             NaN          78.85        43.53  ...
6     Business           57.60          66.26        89.07  ...

   Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
0           85.90        56.09      F                   6.2
1           55.65        50.64      A                  19.0
2           73.79        70.30      D                  20.7
3           92.12        61.63      A                  24.8
4           68.42        66.13      F                  15.4
5           67.29        62.08      B                   8.5
6           93.65        83.21      F                  21.3

   Extracurricular_Activities Internet_Access_at_Home  Parent_Education_Level  \
0                          No                     Yes             High School
1                          No                     Yes                     NaN
2                          No                     Yes                Master's
3                         Yes                     Yes             High School
4                         Yes                     Yes             High School
5                         Yes                     Yes                     PhD
6                          No                     Yes                     NaN

  Family_Income_Level Stress_Level (1-10) Sleep_Hours_per_Night
0              Medium                   5                   4.7
1              Medium                   4                   9.0
2                 Low                   6                   6.2
3                High                   3                   6.7
4                High                   2                   7.1
5                High                   1                   5.0
6                 Low                   5                   6.4

[7 rows x 23 columns]

In [2]:
data={
    "name":["nadiya","bujji","ayishu"],
    "age":[25,20,35],
    "city":["new york","london","paris"]
}
#create a dataframe
df = pd.DataFrame(data)
#Display the Dataframe
print(df)

     name  age      city
0  nadiya   25  new york
1   bujji   20    london
2  ayishu   35     paris