
## Overview

This notebook will show you how to create and query a table or DataFrame that you uploaded to DBFS. [DBFS](https://docs.databricks.com/user-guide/dbfs-databricks-file-system.html) is a Databricks File System that allows you to store data for querying inside of Databricks. This notebook assumes that you have a file already inside of DBFS that you would like to read from.

This notebook is written in **Python** so the default cell type is Python. However, you can use different languages by using the `%LANGUAGE` syntax. Python, Scala, SQL, and R are all supported.

In [0]:
# File location and type
file_location = "/FileStore/tables/emp-3.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

employee_id,department_id,name,age,gender,salary,hire_date
1,101,John Doe,30,Male,50000,01-01-2015
2,101,Jane Smith,25,Female,45000,15-02-2016
3,102,Bob Brown,35,Male,55000,01-05-2014
4,102,Alice Lee,28,Female,48000,30-09-2017
5,103,Jack Chan,40,Male,60000,01-04-2013
6,103,Jill Wong,32,Female,52000,01-07-2018
7,101,James Johnson,42,Male,70000,15-03-2012
8,102,Kate Kim,29,Female,51000,01-10-2019
9,103,Tom Tan,33,Male,58000,01-06-2016
10,104,Lisa Lee,27,Female,47000,01-08-2018
11,104,David Park,38,Male,65000,01-11-2015
12,105,Susan Chen,31,Female,54000,15-02-2017
13,106,Brian Kim,45,Male,75000,01-07-2011
14,107,Emily Lee,26,Female,46000,01-01-2019
15,106,Michael Lee,37,Male,63000,30-09-2014
16,107,Kelly Zhang,30,Female,49000,01-04-2018
17,105,George Wang,34,Male,57000,15-03-2016
18,104,Nancy Liu,29,Female,50000,01-06-2017
19,103,Steven Chen,36,Male,62000,01-08-2015
20,102,Grace Kim,32,Female,53000,01-11-2018

In [0]:
# Create a view or table

temp_table_name = "emp_csv"

df.createOrReplaceTempView(temp_table_name)

In [0]:
%sql

/* Query the created temp table in a SQL cell */

select * from `emp_csv`

employee_id,department_id,name,age,gender,salary,hire_date
1,101,John Doe,30,Male,50000,01-01-2015
2,101,Jane Smith,25,Female,45000,15-02-2016
3,102,Bob Brown,35,Male,55000,01-05-2014
4,102,Alice Lee,28,Female,48000,30-09-2017
5,103,Jack Chan,40,Male,60000,01-04-2013
6,103,Jill Wong,32,Female,52000,01-07-2018
7,101,James Johnson,42,Male,70000,15-03-2012
8,102,Kate Kim,29,Female,51000,01-10-2019
9,103,Tom Tan,33,Male,58000,01-06-2016
10,104,Lisa Lee,27,Female,47000,01-08-2018
11,104,David Park,38,Male,65000,01-11-2015
12,105,Susan Chen,31,Female,54000,15-02-2017
13,106,Brian Kim,45,Male,75000,01-07-2011
14,107,Emily Lee,26,Female,46000,01-01-2019
15,106,Michael Lee,37,Male,63000,30-09-2014
16,107,Kelly Zhang,30,Female,49000,01-04-2018
17,105,George Wang,34,Male,57000,15-03-2016
18,104,Nancy Liu,29,Female,50000,01-06-2017
19,103,Steven Chen,36,Male,62000,01-08-2015
20,102,Grace Kim,32,Female,53000,01-11-2018

In [0]:
# With this registered as a temp view, it will only be available to this particular notebook. If you'd like other users to be able to query this table, you can also create a table from the DataFrame.
# Once saved, this table will persist across cluster restarts as well as allow various users across different notebooks to query this data.
# To do so, choose your table name and uncomment the bottom line.

permanent_table_name = "sample"

df.write.format("parquet").saveAsTable(permanent_table_name)