<a href="https://colab.research.google.com/github/VeenusDadri/training/blob/master/basic_pyspark/Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:

from pyspark.sql import *

In [3]:

student=Row("firstname","lastname","age","Email","rollnumber")
student1=student("Veenus","Dadri",32,"veenusdadri@gmail.com",21560)
student2=student("Krishna","Gopal",35,"krishnagopal@gmail.com",21510)
student3=student("Shiv","Saraogi",7,"shivsaraogi@gmail.com",21540)
student4=student("Tarun","Bansal",30,"tarunbansal@gmail.com",21545)
student5=student("Akshita","Gupta",12,"akshitagupta@gmail.com",21555)

In [ ]:
department=Row("id","name")
department1=Row(id='001',name='CSE')
department2=Row(id='002',name='EEE')
department3=Row(id='003',name='IT')
department4=Row(id='004',name='ECE')
department5=Row(id='001',name='CIVIL')