<a href="https://colab.research.google.com/github/VeenusDadri/training/blob/master/basic_pyspark/Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [7]:

from pyspark.sql import *

In [8]:

student=Row("firstname","lastname","age","Email","rollnumber")
student1=student("Veenus","Dadri",32,"veenusdadri@gmail.com",21560)
student2=student("Krishna","Gopal",35,"krishnagopal@gmail.com",21510)
student3=student("Shiv","Saraogi",7,"shivsaraogi@gmail.com",21540)
student4=student("Tarun","Bansal",30,"tarunbansal@gmail.com",21545)
student5=student("Akshita","Gupta",12,"akshitagupta@gmail.com",21555)

In [9]:
print(student1)

Row(firstname='Veenus', lastname='Dadri', age=32, Email='veenusdadri@gmail.com', rollnumber=21560)

In [10]:
department=Row("id","name")
department1=Row(id='001',name='CSE')
department2=Row(id='002',name='EEE')
department3=Row(id='003',name='IT')
department4=Row(id='004',name='ECE')
department5=Row(id='001',name='CIVIL')

In [11]:
from pyspark.sql import Row

In [12]:
departmentwithstudent1=Row(  department = department1, student=[student1,student2])
departmentwithstudent2=Row(department = department2, student=[student2,student3])
departmentwithstudent3=Row(department = department3, student=[student3,student4])
departmentwithstudent4=Row(department = department4, student=[student4,student5])
departmentwithstudent5=Row(department = department5, student=[student5,student2])

In [13]:
print(departmentwithstudent4)

Row(department=Row(id='004', name='ECE'), student=[Row(firstname='Tarun', lastname='Bansal', age=30, Email='tarunbansal@gmail.com', rollnumber=21545), Row(firstname='Akshita', lastname='Gupta', age=12, Email='akshitagupta@gmail.com', rollnumber=21555)])

In [15]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc=SparkContext.getOrCreate()
spark=SparkSession(sc)

In [16]:
departmentwithstudent=(departmentwithstudent1,departmentwithstudent2,departmentwithstudent3)
df=spark.createDataFrame(departmentwithstudent)
display(df)

DataFrame[department: struct<id:string,name:string>, student: array<struct<firstname:string,lastname:string,age:bigint,Email:string,rollnumber:bigint>>]